<% layout('layouts/boilerplate')%>
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label class="form-label" for="name">name</label>
    <input class="form-control" type="text" id="name" name="name" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">email</label>
    <input class="form-control" type="email" id="email" name="email" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="mobile">mobile</label>
    <input class="form-control" type="tel" id="mobile" name="mobile" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="role">Choose your role</label>
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      id="role"
      name="role"
    >
      <option selected>Open this select menu</option>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Register</button>
</form>
